:root{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000000 10.6%, rgb(116, 0, 0) 97.7%);
    background-repeat: no-repeat;
}

.custom-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 28px 4px 12px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    color: #9f0712;
}

.custom-select-gray{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 4px 28px 4px 12px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    /* color: #797979b9; */
}